<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="RobotSystem" type="system">
      <hardware>
        <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
        <param name="usb_port">$(arg device_path)</param>
      </hardware>
      <joint name="shoulder_pan">
        <param name="initial_position">0.0</param>
        <param name="id">1</param>
        <param name="p_cofficient">8</param>
        <param name="offset">-1768</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="shoulder_lift">
        <param name="id">2</param>
        <param name="p_cofficient">16</param>
        <param name="offset">-1991</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="elbow_flex">
        <param name="id">3</param>
        <param name="offset">1646</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="wrist_flex">
        <param name="id">4</param>
        <param name="offset">-1420</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="wrist_roll">
        <param name="id">5</param>
        <param name="offset">-781</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="gripper">
        <param name="id">6</param>
        <param name="offset">2008</param>
        <param name="p_cofficient">16</param>
        <param name="initial_position">0.0</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </ros2_control>
</robot>
